<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=toolboothstorage1;AccountKey=+uiNeDlbKAVOWWPsYGeMwZrKLrUcUIVkdW1RUSta85jwDfrsvoyRwVwh5u7gL8twDsHe7j7Pb17EkU2dtw8sDQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>